.button {
  font-family: $font-family-basic;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  box-sizing: border-box;

  &--special {
    font-size: 12px;
    line-height: 15px;
    color: var(--basic-white);
    background-color: var(--basic-orange);
  }

  &:hover {
    background-color: var(--special-orange);
  }
}

@media (max-width: $desktop-width - 1px) {
  .button {
    font-weight: 500;
  }
}
///////////
