.catalog {
  padding-top: 100px;
}

.catalog__heading {
  @include text-large--desktop();
  position: relative;
  line-height: 80px;
  text-align: left;
  padding: 0 0 60px 0;
  margin: 0;

  &::after {
    position: absolute;
    content: "";
    width: 228px;
    height: 4px;
    bottom: 35px;
    left: 0;
    background-color: var(--basic-orange);
  }
}

.catalog__text {
  @include text-medium();
  text-align: left;
  padding: 0 0 55px 0;
  margin: 0;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__link {
  position: relative;
  // text-decoration: none;

  &::before {
    display: none;
    position: absolute;
    z-index: 10;
    content: "Cмотреть подробнее";
    width: 266px;
    height: 77px;
    top: 170px;
    left: -135px;
    text-transform: uppercase;
    color: var(--basic-white);
    border: 1px solid var(--basic-white);
    box-sizing: border-box;
    padding: 30px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 215px;
    height: 63px;
    top: 368px;
    left: -108px;

    font-size: 24px;
    line-height: 30px;
    box-sizing: border-box;
    color: var(--basic-black);
    background-color: var(--basic-white);
    padding-top: 18px;
  }
}

.catalog__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin: 0 60px 100px 0;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(1) .catalog__link::after {
    content: "Греция";
  }

  &:nth-child(2) .catalog__link::after {
    content: "Албания";
  }

  &:nth-child(3) .catalog__link::after {
    content: "Македония";
  }

  &:nth-child(4) .catalog__link::after {
    content: "Черногория";
  }

  &:nth-child(5) .catalog__link::after {
    content: "Хорватия";
  }

  &:hover .catalog__img,
  &:focus .catalog__img,
  &:hover .catalog__link::after,
  &:focus .catalog__link::after {
    filter: brightness(0.5);
  }

  &:hover .catalog__link::before,
  &:focus .catalog__link::before {
    display: block;
  }
}

.catalog__img {
  display: block;
  object-fit: contain;
  width: 350px;
  height: 430px;
}

@media (max-width: 1209px) {
  .catalog__item {
    margin: 0 60px 100px 0;

    &:nth-child(3n) {
      margin-right: 60px;
    }
  }
}

@media (max-width: $desktop-width - 1px) {
  .catalog {
    padding-top: 40px;
  }

  .catalog__heading {
    @include text-large--tablet();
    text-align: center;
    padding-bottom: 20px;

    &::after {
      display: none;
    }
  }

  .catalog__text {
    text-align: center;
    padding-bottom: 40px;
  }

  .catalog__item {
    margin: 0 30px 40px 0;

    &:nth-child(3n) {
      margin-right: 30px;
    }
  }

  .catalog__img {
    width: 288px;
    height: 425px;
    object-fit: cover;
  }

  .catalog__link::after {
    top: 362px;
  }

  .catalog__br-desktop {
    display: none;
  }
}

@media (max-width: $tablet-width - 1px) {
  .catalog__heading {
    @include text-large--mobile();
  }

  .catalog__list {
    max-width: 288px;
    margin: 0 auto;
  }

  .catalog__item {
    margin: 0 0 40px 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog__text {
    font-size: 15px;
    padding-bottom: 20px;
  }
}

////////
