.list-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-tabs__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.list-tabs__item--closed {
  display: none;
}

.list-tabs__block {
  width: 395px;
  text-align: left;
  padding-right: 110px;
}

.list-tabs__title {
  @include text-large--desktop();
  position: relative;
  line-height: 90px;
  padding: 0;
  margin: 0 0 60px 0;

  &::after {
    position: absolute;
    content: "";
    width: 175px;
    height: 3px;
    bottom: -19px;
    left: 0;
    background-color: var(--basic-orange);
  }
}

.list-tabs__text {
  @include text-medium();
  margin: 0 0 50px 0;
}

.list-tabs__link {
  display: block;
  width: 250px;
  min-height: 75px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.list-tabs__review {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: -225px;
  transform: translate(-50%, -50%);
}

.list-tabs__img {
  display: block;
}


@media (max-width: $desktop-width - 1px) {
  .list-tabs__item {
    flex-direction: column;
  }

  .list-tabs__block {
    width: initial;
    text-align: center;
    padding: 0 20px;
  }

  .list-tabs__title {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;

    &::after {
      display: none;
    }
  }

  .list-tabs__link {
    min-height: 50px;
    padding-top: 17px;
    padding-bottom: 10px;
    margin: 0 auto;
  }

  .list-tabs__img {
    width: 100%;
    object-fit: cover;
    margin-top: 60px;
  }

  .list-tabs__review {
    top: initial;
    bottom: 0;
    right: 50%;
    transform: translate(200px);
  }
}

@media (max-width: $tablet-width - 1px) {
  .list-tabs__title {
    font-size: 24px;
    line-height: 36px;
  }

  .list-tabs__link {
    width: 100%;
  }

  .list-tabs__img {
    height: 415px;
    object-fit: cover;
  }

  .list-tabs__review {
    transform: translate(138px, 55px);
  }
}
////////
