.main-nav {
  position: relative;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  & li:last-child {
    margin-right: 0;
  }
}

.main-nav__item {
  margin-right: 40px;
}

.main-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-black);
  text-decoration: none;
  box-sizing: border-box;
  padding: 10px;

  &--common {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &--phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    color: var(--basic-orange);
  }
}

.main-nav__link-img {
  margin-right: 15px;
}

@media (max-width: $desktop-width - 1px) {
  .main-nav__toggle {
    display: block;
    position: absolute;
    z-index: 20;
    top: 0;
    right: -20px;
    width: 72px;
    height: 50px;
    background-color: var(--basic-orange);
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .main-nav--open .main-nav__toggle {
    &::before {
      content: "";
      position: absolute;
      z-index: 20;
      top: 15px;
      right: 25px;
      width: 22px;
      height: 1px;
      background-color: var(--basic-white);
      box-shadow:
        0 10px 0 0 var(--basic-white),
        0 20px 0 0 var(--basic-white);
      border-radius: 5px;
    }

    // &:hover::before,
    // &:focus::before {
    //   background-color: var(--basic-red);
    //   box-shadow:
    //     0 10px 0 0 var(--basic-red),
    //     0 20px 0 0 var(--basic-red);
    // }

    // &:active::before {
    //   background-color: var(--special-red-opacity);
    //   box-shadow:
    //     0 10px 0 0 var(--special-red-opacity),
    //     0 20px 0 0 var(--special-red-opacity);
    // }
  }

  .main-nav--close .main-nav__toggle {
    background-color: transparent;

    &::before,
    &::after {
      position: absolute;
      z-index: 20;
      content: "";
      top: 25px;
      right: 15px;
      width: 22px;
      height: 1px;
      background-color: var(--special-grey);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    // &:hover::before,
    // &:focus::before,
    // &:hover::after,
    // &:focus::after {
    //   background-color: var(--basic-red);
    // }

    // &:active::before,
    // &:active::after {
    //   background-color: var(--special-red-opacity);
    // }
  }

  .main-nav__list {
    min-height: 568px;
    padding-top: 135px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-black);
  }

  .main-nav__item {
    background-color: var(--basic-cream);
    margin-right: 0;
    margin-bottom: 30px;

    & .main-nav__link--phone {
      display: none;
    }
  }

  .main-nav__link {
    position: relative;
    min-width: 320px;
    min-height: 66px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    justify-content: flex-start;
    padding-left: 15px;

    &::after {
      position: absolute;
      z-index: 20;
      content: "";
      top: 30px;
      right: 20px;
      width: 8px;
      height: 12px;
      background-image: url("../img/icon-shape.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .main-nav--no-js .main-nav__toggle {
    display: none;
  }

  .main-nav--close .main-nav__list {
    position: absolute;
    z-index: 10;
    top: 0;
    right: -20px;
  }

  .main-nav--open .main-nav__list {
    display: none;
  }
}

@media (max-width: $tablet-width - 1px) {
  .main-nav__toggle {
    width: 50px;
    right: -15px;
  }

  .main-nav--open .main-nav__toggle {
    &::before {
      right: 15px;
    }
  }

  .main-nav--close .main-nav__list {
    right: -15px;
  }
}

///////////
