.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  min-height: 100px;
  outline: rgb(50, 160, 50) solid 5px;
  outline-offset: -5px;
}

@media (max-width: $desktop-width - 1px) {
  .main-header {
    background-color: var(--basic-red);
    min-height: 50px;
  }
}

@media (max-width: $tablet-width - 1px) {
  .main-header {
    background-color: var(--basic-green);
  }
}
