.price {
  display: flex;
  flex-wrap: wrap;
  padding-top: 112px;
}

.price__promo {
  order: 1;
  margin-left: 64px;
}

@media (max-width: $desktop-width - 1px) {
  .price {
    padding: 0 20px;
  }

  .price__promo {
    order: 0;
    flex-grow: 1;
    margin-left: 0;
  }
}

@media (max-width: $tablet-width - 1px) {
  .price {
    padding: 0 15px;
  }
}
/////////
