.review {
  width: 382px;
  text-align: left;
  background-color: var(--basic-white);
  box-sizing: border-box;
  padding: 30px 18px 30px 30px;
  margin: 0;
}

.review__title {
  position: relative;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: var(--basic-black);
  padding: 0 0 30px 0;
  margin: 0;

  &::after {
    position: absolute;
    content: "";
    width: 68px;
    height: 1px;
    bottom: 15px;
    left: 0;
    background-color: var(--basic-orange);
  }
}

.review__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: var(--basic-black-lighten);
  padding: 0 0 35px 0;
  margin: 0;
}

.review__avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.review__img {
  display: block;
  border-radius: 50%;
  margin-right: 15px;
}

.review__author {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

@media (max-width: $tablet-width - 1px) {
  .review {
    width: 268px;
    padding: 30px 20px 30px 20px;
  }

  .review__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &::after {
      left: 80px;
    }
  }

  .review__text {
    text-align: center;
  }

  .review__avatar {
    justify-content: center;
  }

  .review__img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .review__author {
    flex-basis: 100%;
    text-align: center;
  }
}
///////
