.tabs-section {
  z-index: -1;
  background-image: url("../img/map-europe.svg");
  background-position: top 134px right 86px;
  background-repeat: no-repeat;
  background-size: 1445px 1089px;
}


@media (max-width: $desktop-width) {
  .tabs-section {
    background-image: none;
  }
}

/////////
