:root {
  --basic-white: #ffffff;
  --basic-blacken: rgba(20, 21, 23, 1);
  --basic-black: rgba(44, 46, 63, 1);
  --basic-orange: rgba(254, 120, 101, 1);
  --basic-cream: rgba(251, 248, 248, 1);

  --special-orange: rgba(241, 125, 75, 1);
}

$font-family-basic: "Montserrat", "Arial", sans-serif;
$desktop-width: 1024px; // от 1024px и выше
$tablet-width: 768px; // 768px - 1023px;
$mobile-width: 320px; // 320px - 767px;
